
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import './config-css/variables.css';
@import './config-css/reset.css';
@import './config-css/btn.css';
@import './config-css/animations.css';


  html, body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
  }
  
  main{
    padding: 10px;
    background-color: #5a5d6d;
    border-radius: 15px;
    /* max-width: 37.5rem; */
    max-width: 60rem;
    margin: 0 auto;
    box-sizing:border-box;
  }